<nav class="navbar navbar-collapse navbar-light bg-light">
  <a class="navbar-brand" href="#">PHP REST Generator</a>
  <span style="flex: 1 1 auto"></span>


  <!--<ng-container>-->
    <!--<i class="fa fa-bar-chart mr-2"></i>-->
    <!--<span>okok</span>-->
    <!--<button-->
        <!--mat-button-->
        <!--[matMenuTriggerFor]="menu"-->
    <!--&gt;-->
      <!--<i class="fa fa-user mr-2"></i>-->
      <!--<span class="mr-2">okok</span>-->
      <!--<i class="fa fa-caret-down"></i>-->
    <!--</button>-->
  <!--</ng-container>-->


</nav>