<div class="form-group">
  <!--<label for="file">Import Schema</label>-->
  <!--<input type="file"-->
  <!--id="file"-->
  <!--(change)="handleFileInput($event.target.files)">-->
  <!--<button-->
  <!--(click)="uploadFileToActivity()"-->
  <!--class="btn btn-primary btn-sm"-->
  <!--matTooltip="Upload"-->
  <!--&gt;-->
  <!--<i class="fa fa-upload"></i>-->
  <!--</button>-->

  <label>
    Import schema
    <input
        type="file"
        (change)="handleFileInput($event.target.files)"
        class="mb-3"
    >
    <button
        (click)="uploadFileToActivity()"
        class="btn btn-primary btn-sm"
        matTooltip="Upload"
    >
      <i class="fa fa-upload"></i>
    </button>
    <!--<div class="invalid-feedback">Example invalid custom file feedback</div>-->
  </label>
</div>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let schema of (schemas | async)">
    <h3>    {{schema.name}}</h3>
    <a
        href="http://localhost:8080/download-generated/{{schema._id}}"
        class="btn btn-primary btn-sm mr-2"
        matTooltip="Generate PHP"
    >
      <i class="fa fa-download"></i>
    </a>
    <a
        href="http://localhost:8080/export-schema/{{schema._id}}"
        class="btn btn-primary btn-sm mr-2"
        matTooltip="Export"
    >
      <i class="fa fa-file"></i>
    </a>
    <button
        class="btn btn-warning btn-sm mr-2"
        (click)="service.setEditedId(schema._id)"
        matTooltip="Edit"
    >
      <i class="fa fa-pencil"></i>
    </button>
    <button
        class="btn btn-danger btn-sm mr-2"
        (click)="service.delete(schema._id)"
        matTooltip="Delete"
    >
      <i class="fa fa-trash"></i>
    </button>
  </li>
</ul>