<div class="row">
  <div class="col-4"></div>
  <div class="col-8 text-right">
    <button
        (click)="service.enableCreateMode()"
        mat-flat-button
        color="primary"
        class="mb-2 mr-2"
    >
      Create
    </button>
    <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="back()"
    >
      <i class="fa fa-times"></i> Back
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <div style="height: calc(100vh - 340px); overflow-y: scroll;">
      <app-schema-list></app-schema-list>
    </div>
  </div>
  <div class="col-lg-10 border">
    <app-schema-create *ngIf="service.isCreateModeActive() | async"></app-schema-create>
    <app-schema-edit
        *ngIf="(editedSchema$ | async) && (isEdited$ | async)"
        [schema$]="editedSchema$">
    </app-schema-edit>
  </div>
</div>
